# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# idea
.idea/

# 移除 临时目录 , 里边主要放一些临时的/本地的改变
temp/

# 临时加上 core 目录, 待完成后统一提交
core/
